body {
    font-family: "Teachers", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: #ffffff;
    overflow-x: hidden;
}

header {
    color: #333;
    padding: 20px 0;
    margin-top: -20px;
}

.image-wrapper {
    text-align: right;
    margin-bottom: 100px;
    z-index: 2;
}

.image-laranja {
    position: absolute;
    width: 350px;
    height: auto;
    margin-top: -110px;
    right: 200px;
}

.banner {
    width: 100%;
    height: 3100%;
    overflow: visible;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.banner2 {
    width: 100%;
    height: 3100%;
    overflow: visible;
}

.banner2 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    font-size: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    background-color: #be95c4;
    padding: 40px 0;
    text-align: center;
}

.hero h1 {
    font-size: 46px;
    margin-bottom: 20px;
    font-weight: 800;
}

.hero p {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400;
}

.btn-inscricao {
    background-color: #4a8377;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.btn-inscricao:hover {
    background-color: #ad86ce;
    color: #333;
}

.secao-beneficios {
    padding: 20px;
}

.listabonus {
    justify-content: space-evenly;
    align-items: center;
    text-align: right;
    line-height: 20px;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
}

.secao-bonus h2 {
    border: 5px double #9F69BF;
}

.secao-bonus img {
    transition: transform 0.3s ease;
}

.secao-bonus img.hovered {
    transform: scale(1.2);
}

.listabonus img {
    justify-content: center;
    text-align: center;
    margin: -10px 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.listabonus {
    margin: 10px 10px;
    justify-content: flex-end;
    line-height: 30px;
}

.sc-hero {
    background-color: #be95c4;
}

.sc-beneficios {
    padding: -200px;
}

.secao-beneficios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1000px;
    width: 90%;
    padding: 20px;
    border-radius: 5px;
}

.beneficio {
    flex: 1 1 calc(50% - 20px);
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.beneficio img {
    margin: 50px 0 50px 50px;
    max-width: 555px;
    background-color: transparent;
    margin-right: -150px;
}

.beneficio p {
    font-size: 28px;
    line-height: 1.5;
    color: #be95c4;
    text-align: justify;
}

.secao-programa {
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    max-width: 1000px;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.sc-programa {
    background-color: #9c72a78a;
}

.wave {
    background-color: transparent;
    align-items: baseline;
}

.secao-programa h2 {
    padding-top: 20px;
    position: absolute;
    font-size: 28px;
    color: rgb(252, 249, 244);
    margin: -10px 50px 300px 20%;
}

.secao-programa ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0px;
}

.secao-programa ul li {
    font-size: 22px;
    margin-bottom: 10px;
    vertical-align: middle;
    margin-top: 25px;
    text-align: justify;
}

.secbeneficios {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    max-width: 1000px;
    width: 90%;
    justify-content: space-between;
    padding: 30px;
    background-color: transparent;
    border-radius: 5px;
}

.secbeneficios {
    padding: 20;
}

.secao-programa img {
    vertical-align: middle;
    gap: -70;
}

.button-compra {
    background-color: #be95c4;
    border-radius: 5px;
    border: #020500;
    width: 10%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.botao {
    display: flex;
    justify-content: space-around;
}

.botao:hover,
.botao:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.btn i {
    margin-left: 10px;
}

.bonus-exclusivos {
    display: flex;
    justify-content: center;
    background-color: #fefeff8f;
    border-radius: 5px;
    padding: 20px;
    max-width: 1000px;
    width: 90%;
    margin: 20px auto;
}

.secao-garantia {
    display: flex;
    justify-content: center;
    background-color: #fafafafb;
    border-radius: 5px;
    padding: 20px;
    max-width: 1000px;
    width: 90%;
    margin: 20px auto;
    flex-direction: row;
    align-items: center;
}

.listagarantia {
    list-style-type: none;
    color: rgb(20, 46, 17);
    text-align: center;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
}

.listagarantia strong {
    color: rgb(190, 126, 216);
    text-decoration: underline;
}

.mentoria li {
    width: 180px;
    text-align: justify;
}

.bonus-exclusivos h3 {
    align-self: center;
    align-items: center;
}

.bonus-exclusivos ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.linha-promocao {
    display: grid;
    justify-content: space-around;
    margin-bottom: 20px;
}

.secao-precos {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 1000px;
    font-size: 40px;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
}

.secao-precos h2 {
    box-shadow: rgb(173, 117, 187) 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(96, 91, 158) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(130, 121, 209) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 34px;
    color: #855a99;
}

.pacote {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-size: 34px;
    border: 5px dashed #9F69BF;
}

.secao-precos h3 {
    color: #be95c4;
    font-size: 50px;
    margin-bottom: 10px;
}

.secao-precos p {
    font-size: 24px;
    font-weight: bold;
    color: #9b14c4;
}

.secao-precos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.secao-precos ul li {
    font-size: 16px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

.secao-bonus {
    display: flex;
    align-items: center;
    margin: 20px auto;
    max-width: 1000px;
    width: 90%;
    padding: 20px;
    background-color: #dad7cd;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.secao-bonus li {
    flex-direction: column-reverse;
    list-style-type: none;
    text-overflow: ellipsis;
}

.secao-bonus li img {
    justify-content: space-around;
    margin-top: 1px;
}

.listabonus {
    text-align: left;
    display: flex;
}

/* Estilo para a seção de depoimentos */
.secao-depoimentos {
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 54%;
    padding: 4px;
    padding-top: -10px;
    background-color: rgba(159, 196, 173, 0.562);
    border-radius: 5px;
    box-shadow: 10px #6ABD45;
    margin-bottom: 10px;
    margin-top: -85px;
}

.secao-depoimentos h2 {
    position: absolute;
    font-size: 24px;
    color: #000000;
    margin: 1px 0px 300px 10px;
    margin-bottom: auto;
    margin-top: -220px;
}

.depoimento {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 0px 30px 0px 30px;
    margin: 27px 5px;
    background-color: transparent;
}

.depoimento img {
    width: 250px;
    height: auto;
    border-radius: 10%;
    margin-right: 20px;
}

.depoimento p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
}

.secao-depoimentos button {
    padding: 150px 15px;
    background-image: url('/images/seta.png');
    background-color: transparent;
    color: #080707;
    border: none;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.secao-depoimentos button i {
    margin-left: 5px;
}

.depoimento cite {
    font-style: italic;
    font-size: 14px;
    margin-top: 10px;
}

.depoimento-ativo {
    display: block;
}

.depoimentos-inativos {
    display: none;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navegacao button {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.navegacao button {
    background-color: #bbb;
}

.navegacao button.desativado {
    opacity: 0.5;
    cursor: default;
}

/* Estilos gerais para dispositivos móveis */
@media screen and (max-width: 490px) {

    html,
    body {
        margin: 0;
        padding: 0;
        font-family: "Teachers", sans-serif;
        background-color: #ffffff;
        overflow-x: hidden;
        /* Evita arraste horizontal */
        touch-action: manipulation;
        /* Evita o zoom */
        width: 100%;
        /* Garante que a largura seja 100% */
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    nav ul li {
        flex: 0 0 auto;
        margin: 0 5px;
        font-size: 16px;
    }

    .hero h1 {
        font-size: 24px;
        margin: 0 10px;
    }

    .hero p {
        font-size: 14px;
        margin: 0 10px;
    }

    .btn-inscricao {
        padding: 8px 16px;
        font-size: 14px;
    }

    .secao-beneficios,
    .secao-precos,
    .secao-programa,
    .container-promocoes,
    .secao-depoimentos {
        padding: 10px;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        /* Garante que padding não cause overflow */
    }

    .secao-depoimentos {
        width: 100%;
        margin-top: 15px;
    }

    .secao-garantia {
        text-align: justify;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .secao-programa h2 {
        padding-top: 5px;
        padding: 10px;
        font-size: 23px;
        margin-top: 10px;
    }

    .secao-programa ul li {
        font-size: 21px;
        margin-bottom: 12px;
        vertical-align: middle;
        margin-top: 25px;
        text-align: center;
    }

    .linha-promocao,
    .promocao,
    .depoimento {
        flex: 1 1 100%;
        margin-bottom: 10px;
        box-shadow: none;
    }

    .beneficio {
        position: relative;
        text-align: center;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .beneficio img {
        position: absolute;
        top: 0;
        right: 10px;
        left: 45px;
        max-width: 30%;
        height: auto;
        opacity: 0.5;
        z-index: -1;
    }

    .beneficio p {
        font-size: 18px;
        left: -10px;
        width: 90%;
        position: relative;
        z-index: 1;
        padding: 20px;
        text-align: justify;
        color: black;
    }

    .secao-precos h3 {
        font-size: 20px;
    }

    .secao-precos p {
        font-size: 20px;
    }

    .secao-precos ul li {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.705);
        text-align: center;
        font-weight: 800;
    }

    .secao-depoimentos h2 {
        font-size: 20px;
    }

    .beneficio img {
        margin: 50px 0 50px 50px;
        max-width: 100%;
        height: auto;
        background-color: transparent;
        margin-right: -150px;
    }

    .button-compra {
        background-color: #d681ab;
        border-radius: 5px;
        border: #000000;
        width: 80%;
        height: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        text-transform: uppercase;
        font-family: "Teachers", sans-serif;
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 17px;
    }

    .botao {
        display: flex;
        justify-content: space-around;
    }
}
