@media (max-width: 768px) {
    .carousel-container {
      display: block;
    }
    .cartao-depoimento {
     display: none; /* Inicialmente esconde todos os depoimentos */
     width: 100%; /* Ocupa a largura total da tela */
     margin-top: 100px;
 
   }
   
   .beneficios{
     width: 100%; /* Ocupa a largura total da tela */
     flex-direction: column;
     margin-bottom: 300px;
   }
   
 }
 
 